PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/car_sales
JWT_SECRET=change_this_secret_in_production
ADMIN_NAME=Admin VeoCars
ADMIN_EMAIL=admin@veocars.ro
ADMIN_PASSWORD=Admin123!
NODE_ENV=development
